@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@font-face {
    font-family: "avenir-heavy";
    src: url('/assets/fonts/Avenir-Heavy.otf');
}
@font-face {
    font-family: "avenir-roman";
    src: url('/assets/fonts/Avenir-Roman.otf');
}

a.github {
    color: black;
}
a:hover.github{
    color: rgb(71, 51, 1);
}


.title {
    font-size: 36px;
    font-family: avenir-heavy;
}
.subtitle {
    font-size: 20px;
    font-family: avenir-roman;
}
.arrangement-home{
    margin-top: 40px;
}

input.form-control {
        display: block;
        width: 150px;
        height: 40px;
        padding: .375rem .75rem;
        font-size: 18px;
        font-weight: 400;
        font-family: avenir-roman;
        line-height: 1.5;
        color: black;
        background-color : #F470001A;
        background-clip: padding-box;
        border: #f4700015;
        border-radius: 10px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

.form-row{
    margin-bottom: 16px;
}

.btn-montri-off{
    color: #fff;
    font-family: 'avenir-heavy';
    font-size: 18px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #F4700080;
}

.btn-montri-on{
    color: #fff;
    font-family: 'avenir-heavy';
    font-size: 18px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #F47000;
}

.valid-feedback.feedback-icon,
.invalid-feedback.feedback-icon {
    position: absolute;
    width: auto;
    bottom: 10px;
    right: 10px;
    margin-top: 0;
}


