<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="arrangement-home">
        <div class="row">
            <img src="/assets/img/logo.png" style="height: 70px; width: auto;" alt="">
        </div>
        <div class="row title">
            <p>Bienvenue sur votre espace Client</p>
        </div>
        <div class="row subtitle">
            <p>Renseignez une valeur pour chaque champs</p>
        </div>
        <div class="row">
            <form [formGroup]="formGraph">
                <div class="form-row">
                  <div class="col">
                    <input type="text" class="form-control" [(ngModel)]="x" formControlName="x" placeholder='Tapez "1"'>
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" [(ngModel)]="y" formControlName="y" placeholder='Tapez "3"'>
                  </div>
                </div>
                  <button type="submit" (click)="func_showGraphic()" [disabled]="x === '' || y === '' " class="btn btn-montri-on">Visualiser</button>
              </form>
        </div>
      </div>
    </div>
    <div *ngIf="showGraphic" class="col-md-6">
      <app-graphic></app-graphic>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container-fluid">
    <p class="text-monospace">Design with <em class="bi bi-heart-fill" style="color: #960e0e;"></em> by Cheikh Sow | see my code on 
      <a href="https://github.com/codebysaadbouh/montri" target="_blank" rel="noopener noreferrer" class="github">
        <em class="bi bi-github" aria-hidden="true" style="font-size: 25px;"></em>
      </a>
  </p>
  </div>
</footer>