<div class="arrangement-home">
    <div class="row">
        <img src="/assets/img/logo.png" style="height: 70px; width: auto;" alt="">
    </div>
    <div class="row title">
        <p>Bienvenue sur votre espace Client</p>
    </div>
    <div class="row subtitle">
        <p>Renseignez une valeur pour chaque champs</p>
    </div>
    <div class="row">
        <form>
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" placeholder='Tapez "1"'>
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder='Tapez "3"'>
              </div>
            </div>
              <button disabled type="submit" class="btn btn-montri-off">Visualiser</button>
          </form>
    </div>
</div>